@{
    ViewBag.Title = "About";
}
<div class="side-by-side text-center">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <a class="mobile-only primary-toggle" onclick="SwitchContent()">Sign Up</a>
    <button class="btn-danger button-special" style="margin-top: 20px" onclick="scrollDown();">
        View Offers
    </button>
</div>