@{
    ViewBag.Title = "Home Page";
}


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkTzo67cQiZmcSYXCZ82gpWvyu2Uon2g0&callback=Initialize"
        type="text/javascript"></script>

<script type="text/javascript">
    // Where all the fun happens
    function Initialize() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var Tunisie = new google.maps.LatLng(36.81881, 10.16596);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 8,
            center: Tunisie,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        // a sample list of JSON encoded data of places to visit in Tunisia
        // you can either make up a JSON list server side, or call it from a controller using JSONResult

        var markers;

        $.ajax({
            url: '/Map/GetMarkers',
            type: "GET",
            data: "{}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                markers = data;

                for (i = 0; i < markers.items.length; i++) {

                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(markers.items[i].GeoLong, markers.items[i].GeoLat),
                        'map': map,
                        'title': markers.items[i].PlaceName,
                        'icon': '@Resources.Filepaths.Icons'+markers.items[i].Icon
                    });

                    // put in some information about each json object - in this case, the opening hours.
                    var infowindow = new google.maps.InfoWindow({
                    content: "<div class='infoDiv'><h2>" + markers.items[i].PlaceName + "</div></div>"
                });

                // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            }
        },
            error: function(){
                alert('Error occured');
            }
    });
    }
</script>
@Url.Action("Test", "Map")

<div id="map_canvas" style="height: 550px;"></div> 



<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }

    #map_canvas img { 
        max-width: none; 
    } 

</style>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>